:root {
    --content-background: #FFFFFF;
    --body-background: #E9EBF2;
    --info-main-color: #4C84FF;
    --font-main-color: #8A8AA0;
    --border-radius: 20px;
    --indicator-blue: #467fd0;
    --indicator-yellow: #ffbb33;
    --indicator-red: #fd4848;
    --indicator-green: #42ba96;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--body-background);
}

header, 
#book-adder, 
#searcher {
    max-width: 1200px;
    background: var(--content-background);
    padding: 15px 30px 30px;
    border-radius: var(--border-radius);
    margin: 0 auto;
    display: flex;
}

header figure.rounded-me-img {
    width: 95px;
    height: 126px;
    border-radius: 50%;
    background: url('./assets/me.jpg') no-repeat top center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header figure:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

header section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header section h3 {
    margin-top: 0;
}

header section h5 {
    margin: 0;
}

header section h5:nth-of-type(2) {
    margin-top: 10px;
}

header section, 
header section h3, 
header section h5, 
header figure, 
header figure img {
    background: var(--content-background);
}

header figure img {
    opacity: 0.3;
}

header figure img:nth-of-type(2) {
    margin-left: 30px;
}

header figure img:hover {
    opacity: 1;
    transition: all 0.6s ease;
    cursor: pointer;
}

#book-adder, 
#searcher {
    margin-top: 20px;
}

#book-adder, 
#searcher {
    flex-wrap: wrap;
    width: 100%;
}

#book-adder header, 
#searcher header, 
#unread header, 
#legible header {
    text-align: center;
    width: 100%;
    display: block;
}

#book-adder h1, 
#searcher h1, 
#unread header h1, 
#legible header h1 {
    position: relative;
    display: inline;
}

#book-adder h1::before, 
#searcher h1::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: -40px;
}

#book-adder h1::before{
    background: var(--indicator-blue);
}

#searcher h1::before {
    background: var(--indicator-yellow);
}

#unread, 
#legible {
    background: var(--content-background);
    padding: 15px 30px 30px;
    border-radius: var(--border-radius);
    flex: 1;
    height: fit-content;
}

#unread header h1::before, 
#legible header h1::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: -40px;
}

#unread header h1::before {
    background: var(--indicator-red);
}

#legible header h1::before {
    background: var(--indicator-green);
}

#book-fetcher {
    max-width: 1200px;
    border-radius: var(--border-radius);
    margin: 20px auto 0;
    display: flex;
}

#book-fetcher header {
    padding-bottom: 30px;
}

#unread {
    margin-right: 10px;
}

#legible{
    margin-left: 10px;
}

#unread-data .book {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#unread-data .book:hover {
    box-shadow: rgba(255, 68, 68, 0.6) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#legible-data .book {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#legible-data .book:hover {
    box-shadow: rgba(66, 186, 150, 0.6) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.book {
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book h1 {
    font-size: .83em;
}

.book .control {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.book:not(:first-child), 
.book .control button:not(:first-child) {
    margin-top: 20px;
}

.book:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input[type=text] {
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

#book-adder form, #searcher form {
    flex: 1;
}

button[type=submit], button[type=button] {
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    appearance: button;
    color: #FFFFFF;
    line-height: 1.15;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    overflow: visible;
    text-transform: none;
    transition: all 80ms ease-in-out;
    font-size: 14px;
    width: fit-content;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
}

button[type=submit]:focus, button[type=button]:focus {
    outline: 0;
}

button[type=submit]:disabled, button[type=button]:disabled {
    opacity: .5;
}

button#addBook {
    border: 1px solid #1652F0;
    background-color: #1652F0;
}

button#addBook:hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
}

button#addBook:active {
    background-color: #0039D7;
    border-color: #0039D7;
}

button#searchBook {
    border: 1px solid #f7b32d;
    background-color: #f7b32d;
}

button#searchBook:hover {
    background-color: rgb(241, 169, 23);
    border-color: rgb(241, 169, 23);
}

button#searchBook:active {
    background-color: #f0a208;
    border-color: #f0a208;
}

button#clearSearchBook {
    border: 1px solid #f7b32d;
    background-color: #f7b32d;
}

button#clearSearchBook:hover {
    background-color: rgb(241, 169, 23);
    border-color: rgb(241, 169, 23);
}

button#clearSearchBook:active {
    background-color: #f0a208;
    border-color: #f0a208;
}

button.moveRack {
    border: 1px solid #2c303a;
    background-color: #2c303a;
}

button.moveRack:hover {
    background-color: #121318;
    border-color: #121318;
}

button.moveRack:active {
    background-color: #08080a;
    border-color: #08080a;
}

button.editTitle {
    border: 1px solid #d4920d;
    background-color: #d4920d;
}

button.editTitle:hover {
    background-color: #cf8b03;
    border-color: #cf8b03;
}

button.editTitle:active {
    background-color: #cf8b03;
    border-color: #cf8b03;
}
button.deleteBook {
    border: 1px solid #fa3131;
    background-color: #fa3131;
}

button.deleteBook:hover {
    background-color: #f71f1f;
    border-color: #f71f1f;
}

button.deleteBook:active {
    background-color: #e40000;
    border-color: #e40000;
}